<div class="container-fluid pt-3 mt-5">
    <div class="row">
        <div class="col-md-6 pl-5">
            <img src="—Pngtree—cart full of things_5398374.png" alt="..." class="pb-3"
                style="width: 500px; height: 550px;px;">
        </div>
        <div class="col-md-5 mt-5 pt-5 ml-1">
            <h2 class="text-center " style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                LOGIN</h2>
            <form action="/login" method="POST">
                {{#if loginErr}}
                <p class="error">{{loginErr}}</p>
                {{/if}}
                <label class="pt-2">Email address</label>
                <input type="email" class="form-control" name="Email" placeholder="Enter email"><br>

                <label>Password</label>
                <input type="password" class="form-control pb-2" name="Password" placeholder="Password">

                <a href="/signup">Create new account?</a><br>
                <button type="submit" class="btn btn-success float-right mt-3">Login</button>
            </form>
        </div>
    </div>
</div>